#index_body {
    /* background-color: gray;
    color: #282C35; */
    color: black;
    margin-left: 40%;
    background-image: url("images/lamp.jpeg");
    background-repeat:no-repeat;
    background-size:100%;
        
}

#xyz_body {
    background-image: url("images/smiley.jpg");
    background-repeat:no-repeat;
    background-size:100%;

}

#home_body {
    background-image: url("images/flower.jpg");
    background-repeat:no-repeat;
    background-size:100%;

}

button {
    border-radius: 3px;
}

#p1::before {
    content: "*";
    color: red;
    font-size: larger;
}

#p2::before {
    content: "*";
    color: red;
}

#p4::before {
    content: "*";
    color: red;
}