{% load static %}
<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Django Application</title>

        <link href="{% static 'dapp/styles.css' %}" rel="stylesheet" type="text/css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    </head>

    <Body id="xyz_body">
        <br><br>
        <h1 style="text-align: center; color: azure; font-size: 40px; -webkit-text-stroke: 2px black; font-family: Arial, Helvetica, sans-serif;" id="success">Your Details Was Successfully Submitted</h1><br>
        <h1 style="text-align: center; color: azure; font-size: 40px; -webkit-text-stroke: 2px black; font-family: Arial, Helvetica, sans-serif;" id="thank">Thank You</h1>
        <br>
        <br>
        <br>
        
        <a href="{% url 'showdetail' %}">
        <button type="button" id="showdetails" style="border-radius: 3px; border-color: black; background-color:lightskyblue; margin-left: 45.5%; font-weight:bold;"  id="back">Show details</button>
        </a>
        <a href="{% url 'index' %}">
        <button type="button" style="border-radius: 3px; border-color:black; background-color: lightskyblue; font-weight:bold;" id="back">back</button>
        </a>

        <!-- <script type="text/javascript">
        

        $("#showdetails").on("click", function(e){
            
            e.preventDefault();

            $.ajax({

            type: 'GET',
            url: 'user/desk/',
                
            success:function(response) {

                var NAME =response["name"];
                var EMAIL =response["email"];
                var PHONENUMBER =response["phonenumber"];
                
                document.getElementById("thank").innerHTML= "DETAILS:";
                document.getElementById("name").innerHTML= "Name: "+ NAME;
                document.getElementById("email").innerHTML="Email: "+ EMAIL;
                document.getElementById("phonenumber").innerHTML="Phone Number: "+ PHONENUMBER;
                
                }
            });

        });
        </script> -->

    </Body>
</html>